<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servientrega</title>
</head>
<link rel="stylesheet" href="../Style.CSS">
<body>
    <div class="container">
  <header>
            <div class="banner">
                <img src="../Img/logo.jpg" alt="Envios Servientrega">
            </div>
        </header>

   <div class="barra-iconos">

            <a href="../index.html"><img src="../Img/home.png" alt="home"></a>

            <a href= "#"><img src="../Img/servicios.gif" alt="Servicios"></a>
            <a href="contacto.html"><img src="../Img/contacto.gif" alt="Teléfono"></a>

        </div>

  <div class="noticias">
            <h2>Sección Noticias Servientrega</h2>

            <p>Servientrega mejora sus tiempos de entrega en todo el país gracias a su red logística.</p>
            <p>Ahora los clientes pueden rastrear sus envíos en línea de forma rápida y segura.</p>
            <p>Nuevos puntos de atención han sido habilitados para facilitar el envío de paquetes.</p>
            <p>Servientrega continúa innovando para ofrecer mejores soluciones de mensajería.</p>
        </div>
 <iframe width="100%" height="315" src="https://www.youtube.com/embed/Lk3W47JXybE?si=HIH835FfEfrVpPam" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   <footer>
             <div class="redes">
                <a href="https://www.facebook.com/">
                <img src="../Img/facebook.jpg" alt="Facebook">
                </a>

                <a href="https://www.instagram.com/">
                <img src="../Img/instagram.jpg" alt="Instagram">
                </a>

                <a href="https://www.twitter.com/">
                <img src="../Img/twitter.png" alt="Twitter">
                </a>
            </div>

            <p>&copy; 2026 Servientrega. pagina web creada por jhojan dodino, kelly criado, helena serrano </p>
        </footer>
    </div>
</body>
</html>